<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace = "mapper">
 	<resultMap id="boardList" type="com.com.com.domain.BoardVO">
 		<result property="seq" column="SEQ"/>
 		<result property="memName" column="MEM_NAME"/>
 		<result property="memId" column="MEM_ID"/>
 		<result property="title" column="BOARD_SUBJECT"/>
 		<result property="boardContent" column="BOARD_CONTENT"/>
 		<result property="regDate" column="REG_DATE"/>
 		<result property="uptDate" column="UPT_DATE"/>
 		<result property="viewCnt" column="VIEW_CNT"/>
 		<result property="useYN" column="USEYN"/>
 	</resultMap> 
 	
 	<!-- 전체 내용 조회 -->
	<select id="viewAll" resultMap="boardList">
	  SELECT SEQ, MEM_NAME, BOARD_SUBJECT, REG_DATE, UPT_DATE, VIEW_CNT 
	  	FROM BOARD_STUDY 
	  ORDER BY SEQ DESC
	</select>
	
	<insert id="write" parameterType="map" >
		INSERT INTO BOARD_STUDY (SEQ, MEM_NAME, MEM_ID, BOARD_SUBJECT, BOARD_CONTENT, REG_DATE, UPT_DATE, VIEW_CNT, USEYN)
			VALUES ((SEQ.NEXTVAL+1), #{memName} , #{memId}, #{title}, #{boardContent}, SYSDATE, NULL, NULL, NULL )
	</insert>
	
	<select id="detail" parameterType="int" resultMap="boardList">
		SELECT *
			FROM BOARD_STUDY
		WHERE SEQ = #{seq}
	</select>	
	
	<update id="viewCnt" parameterType="int">
		 UPDATE BOARD_STUDY SET VIEW_CNT = VIEW_CNT + 1 WHERE SEQ = #{seq}
	</update>
	
	<delete id="delete">
        DELETE FROM BOARD_STUDY WHERE SEQ = #{seq}
    </delete>
</mapper>
  